
<% provide(:title, "events") %>


	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Events</li>
				</ul>
			</div>
		</div>
	</div>
	</section>


<center><h1>Listing events</h1></center>
<div class="row">
	<div style="padding-left:10%; padding-right:10%;">

		<div class="col-md-8 border-blockos border-left changeBorder" style="width:70%; float:left; min-height:600px; text-align:left;">
			<p style="font-size:40px;">events</p>
			<div style="color:#333; font-size:16px;">
			<hr class="colored-seperator left-seperator change"/>
						<h3>Events</h3>
			
 
<center><h1>listing events like blog roll with thumbnail</h1></center>


    <% @events.each do |event| %>
	<center>
       <h2>
       		<%= event.name %><br>
       		<%= event.event_date %>
       	</h2>
    </center>
    <table>
		<tbody>
   		<tr>
		       <td><%= image_tag event.featured_image.url(:medium) %></td>
		       <td>excerpt :: <%= event.excerpt %> <br>
		       <%= link_to '[click here to know more about this event ...]', event %>
		       </td>
		</tr>
        </tbody>
	</table>
	<hr>
    <% end %>
			
		</div></div>
		<div class="col-md-4 border-blockos changeBorder"style="width:25%; float:right; min-height:600px; text-align:left;">
			space for poster :)
			<div align="center">
			<h3>events</h3>
			<br> type something about events etc <br>
			</div>
			<bdi style="font-size:22px;">listing events if wanted </bdi><hr class="colored-seperator left-seperator change"/><br>
			<div style="font-size:20px;">
				<p><i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">kurukshetra</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">other events</a><br/>
				</p>	
			</div>	
		</div>
		</div>

	</div>

</div>
