<p id="notice"><%= notice %></p>
<center>
<p><h1>
  <strong>Name:</strong>
  <%= @event.name %>
</h1></p>
<%= image_tag @event.featured_image.url %>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
</center>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
