<p id="notice"><%= notice %></p>



<div class="row">
	<div style="padding-left:10%; padding-right:10%;">

		<div class="border-blockos border-left changeBorder" style="width:70%; float:left; min-height:600px; background-color:#DDD; text-align:left;">
			<p style="font-size:40px;"><strong>Name:</strong>
	<h3><%= @event.name %></h3>
			<div style="color:#333; font-size:16px;">
			<hr class="colored-seperator left-seperator change"/>
			<div class="col-md-7 border-blackos">
		<%= image_tag @event.featured_image.url(:large) %>
			<br><br><br>
			<h2>short summary:</h2>
			<%= @event.excerpt %>
			<h2><br><br>
			<p>
  				<h2>Description:</h2>
 				 <%= raw(@event.description) %>
			</p>


<h3> and list other things that u need :P</h3>
		</div>


			<br/><br/><br/>
			
		</div>
	</div>
		<div class="border-blockos changeBorder" style="width:25%; float:right; min-height:600px; text-align:left;">
			space for poster :)
			
			<h3>Date</h3>
			<%= @event.event_date %>
			

			<h3><%= link_to 'want to know more about other events ?', events_path %></h3>
			<br/><br/><br/>
			
			<bdi style="font-size:22px;">Departments</bdi><hr class="colored-seperator left-seperator change"/>
			<div style="font-size:22px;">
				<p><i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">Kurukshetra</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">event 2</a><br/>
					<i class="icon-chevron-right changeColor"></i> <a class="light-link" href="">event 3</a><br/>
					
			</div>		
				</p><br/><br/>

		</div>

	</div>

	</div>

</div>

