<% provide(:title, "Projects") %>
  <div class="main-div">
  <div class="row">
    <div class="col-md-2" style="margin-top:30px;margin-left:5px;">
      <ul class="nav nav-stacked" style="position:fixed;">
        <li><a href="#">Current</a></li>
        <li><a href="#">Previous Years</a></li>
      </ul>
    </div>
    <div class="col-md-7">
      <h3> Projects </h3>
      

<center><h1>listing projects like blog roll with thumbnail</h1></center>


    <% @projects.each do |project| %>
      
       <h2> <%= project.title %></h2>
       <br> 
       <P>PROJECT STATUS</P>
       <%= project.status %>
       <br>
       <P>PROJECT APPLICATIONS</P>
       <br>

       <%= image_tag project.featured_image.url(:medium) %>
       <br>
       <%= link_to 'click here to know more about this project', project %>
       <hr>
       <% end %>
       <div class="btn btn-primary" >
    <%= link_to 'New Project' , new_project_path %>

    </div>
    
  
    
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <div align="center">
      <h3>Date</h3>
      02-03-14
      </div>
    </div>
  </div>
</div>

