<p id="notice"><%= notice %></p>
<center>
<p><h1>
  <strong>Name:</strong>
  <%= @project.title%>
</h1></p>
<%= image_tag @project.featured_image.url %>
<p>
  <strong>stats:</strong>
  <%= @project.status %>
</p>
<p>
  <strong>applications:</strong>
  <%= raw(@project.applications) %>
</p>
<p>
  <strong>adv:</strong>
  <%= @project.advantages %>
</p>

</center>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>