<!DOCTYPE html>
<html>
<head>
<title>Ctf Site   <%= yield(:title) %></title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

<link rel="stylesheet" href="/resources/demos/style.css">
<%= csrf_meta_tags %>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<title>CEG Tech Forum</title>
<script type="text/javascript">
$(document).ready(function(){
        $("#myCarousel").carousel();
        });
</script>
</head>
<body>


<div id="wrapper">
	<!-- start header -->
	<header>
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--a class="navbar-brand" href="index.html"><span>M</span>oderna</a-->
                    <a class = "navbar-brand" href="/"><%= image_tag 'logo.png' , :size => "300x100" %></a>
                </div>
                <div class="navbar-collapse collapse ">
                    <ul class="nav navbar-nav">
						<li><a href="/">HOME</a></li>
                        <li><a href="/home/about">ABOUT US</a></li>
                        <li><a href="/projects">PROJECTS</a></li>
                        <li><a href="/events">EVENTS</a></li>
                        <li><a href="/home/team">TEAM</a></li>
                    </ul>
                </div>
            </div>
        </div>
	</header>
	<!-- end header -->
	</div>
<div class="main-div">
    <%= yield %>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Get in touch with us</h5>
					<address>
					<strong>Address here..</strong><br>
					 
					  </address>
					<p>
						<i class="icon-phone"></i> (123) 456-7890 - (123) 555-7891 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Pages</h5>
					<ul class="link-list">
						
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Add Things over here!</h5>
					
				</div>
			</div>
			
		</div>
	</div>
	
	</footer>
</div>



</body>
</body>
</html>
